body {
    margin: 0;
}

#myBox {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    font-size: 7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
